<div id="wrapper" class="container">
    <header id="header">
        <h1 class="logo"><a href="/">Math-<span>letics</span></a></h1>
        <p class="about"><span>... </span>because it's <strong>a <br> numbers game</strong></p>
        <ul class="features">
            <li id="li-logon" class="fa fa-sign-in" math-href="/logon"><a ng-href="/logon">
                <strong> Account</strong> <br>
                    Log On</a></li>
            <li id="li-stat-manager" class="fa fa-list-ol" math-href="/stat"><a ng-href="/stat">
                <strong> Stat</strong> <br>
                Manager</a></li>
            <li id="li-video-manager" class="fa fa-film" math-href="/video"><a ng-href="/video">
                <strong> Video</strong> <br>
                Manager</a></li>
            <li id="li-join" class="fa fa-users" math-href="/join"><a ng-href="/join">
                <strong> Join</strong> <br>
                Us</a></li>
        </ul>
    </header>
</div>

<style>
    /* TODO remove when all links above are working */
    /*#header{
        max-width: 550px;
    }*/
</style>